.glide {
  margin: 0 auto;
}
.glide .glide__track {
  height: 100%;
}
.glide .glide__track .glide__slides {
  height: 100%;
}
.glide .glide__track .glide__slides li.glide_slide {
  height: 100%;
}
.glide .glide__track .glide__slides li {
  background-color: black;
}
.glide .glide__track .glide__slides li img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(2px);
  filter: opacity(50%);
}
.glide .glide__track .glide__arrows {
  display: flex;
}
.glide .glide__track .glide__arrows .custom-arrow--left {
  background: url(../asset/material-icons/keyboard_arrow_left-white-24dp.svg);
  background-size: cover;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  box-shadow: none;
  opacity: 0.8;
}
.glide .glide__track .glide__arrows .custom-arrow--right {
  background: url(../asset/material-icons/keyboard_arrow_right-white-24dp.svg);
  background-size: cover;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  box-shadow: none;
  opacity: 0.8;
}
.glide .glide__track .glide__bullets .glide__bullet {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}